body {

    box-sizing: border-box;
   
    line-height: 1.5;
}

* {
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.bg-container{
  top: -40px;
  position: relative;
  margin: 0;
}

.main-container {
    
    right: 0;
    top: 0;
    background: #212529;
    
}

.right-side {
    min-height: 100vh;
    width: 100%;
    background-color: #212529;
    background-size: cover;
    padding-left: 270px;

}

.section {
    min-height: 100vh;
    opacity: 1;


}

.container {
    min-width: 1250px;
    width: 100%;
    top: 0;

}

.pad-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

}

.aside {
    background: #222;
    color: white;
    z-index: 10;
    height: 100%;
    width: 270px;
    left: 0;
    top: 0;
    position: fixed;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #a4a7a9;
}

.profile-image {
    height: 130px;
    width: 120px;
    border-radius: 50%;
   
}

.aside-name-heading{
  font-size: 25px;
  color: #beced7;
}
.aside .logo {
    position: absolute;
    top: 30px;
    text-transform: capitalize;
}

.aside .nav {
    display: flex;
    flex-direction: column;

    margin-top: 70px;

}

.aside .nav li {
    margin-bottom: 20px;
}

.aside .nav li a {
    font-size: 18px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #616161;
    color: #adb5bd;
}

.aside .nav li a.active {
    color: #20c997;
}

.aside .nav li i {
    margin-right: 10px;
}

.social-link {
    position: absolute;
    bottom: 25px;
    margin: 10px;
    color: #adb5bd;
    font-size: 30px;
    background-color: transparent;

}

.social-link .active {
    color: #adb5bd;
}

.hire-me {
    width: 12%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #20c997;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    background-color: #1baa80;
    transition: all 0.6s ease;
}


.home-container {
    background-image: url(../assets/image/work-from-home-1-5186089-1627385675007.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
   


}


.bg-layer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(75, 72, 63, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 20px;
    line-height: 50px;
    font-weight: 600;
    font-size: 30px;
    min-height: 100vh;
  

}
.home-heading{
  font-size: calc(28px + 2vw);
}

.home-title{
  font-size: 60px;
  font-weight: 600;
  
}
.span-name {
    
    
    color: #1baa80;
    font-size: calc(25px + 3vw);
}

.span-style {
    font-size: 30px;
    font-style: oblique;
    font-family: 'clicker script', cursive;
    color: #20c997;
}

.home_arrow {
  position: relative;
  cursor: pointer;
  margin-top: 85px;
  transition: all .1s ease-in;
  animation: ar_down 3s normal linear infinite;
}

.home_arrow  a{
  color: white;
}

.home_arrow  .fa-chevron-down {
  font-size: 40px;
}
.typing{
  color: #1baa80;
  font-size: 60px;
  font-weight: 600;
}


.animated {
    position: relative;
    animation: fadeInDown 1.5s infinite;
    -webkit-animation: fadeInDown 1.5s infinite;
    -moz-animation: fadeInDown 1.5s infinite;
    -o-animation: fadeInDown 1.5s infinite;
}


@keyframes fadeInDown {
    0% {
        top: -25px;
        opacity: 0;
    }

    100% {
        top: 10px;
        opacity: 1;
    }
}

.section-title {
    flex: 0 0 100%;
    color: white;
    background-color: #212529;
    background-size: cover;
    font-size: 20px;
    padding: 30px;
    padding-top: 50px;
    width: 100%;
}

.about-container {

    color: white;
  
    font-size: 20px;
    padding: 30px;
    width: 100%;
}

.about-container h3 {
    color: white;
    font-size: 32px;
    font-weight: 600;

}

.about-container p {

    line-height: 30px;
    font-size: 20px;
    color: #adb5bd;
}

.personal-info {
    flex: 0 0 34%;
    margin-top: 30px;
    color: wheat;
    max-width: 34%;
}

.info-list {
    flex: 0 0 100%;
    max-width: 100%;
}

.info-list .info-style {
    color: #20c997;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    font-family: roboto;
}

.info-list p {
    color: #adb5bd;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 1px solid #616161;
}
.btn{
    background-color: #4acfa7;
    border: 1px solid #1baa80;
    color: white;
    padding: 14px;
    border-radius: 24px;
    margin-left: 30px;
    width: 220px;
    font-size: 18px;
    margin-bottom: 20px;


}
.btn:hover{
    background-color: transparent;
    color: white;
    border: 1.5px solid #adb5bd;
    width: 180px;
}

.skills {
    flex: 0 0 66%;
    margin-top: 30px;
    color: wheat;
    max-width: 66%;
}

.skill-list {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 15px;

}
.skill-list h5{
    line-height: 40px;
    font-weight: 600;
    color: #adb5bd;
    text-transform: capitalize;
}
.skill-list .skill-progress{
    background-color: #adb5bd;
    height: 10px;
    border-radius: 5px;
    width: 85%;
    position: relative;
}
.progress-in{
    position: absolute;
    background-color: #1baa80;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
}
.skill-percent{
    color: #adb5bd;
    position: absolute;
    right: 0;
    line-height: 40px;
    top: -40px;
    font-weight: 500;
}

.sevices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;

    font-size: 20px;

    padding: 30px;



}

.project-container {
    
    padding: 30px;
    color: white;
    background-color: #212529;
    background-size: cover;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.project{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project .description{
  overflow: auto;
  
}



.project-card{
  width: 350px;
  height: 300px;
  background-color: teal;
  color: white;
  padding: 20px;
  margin-left: 20px;
  text-align: center;
  border-color: 2px solid #0e1013;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 20px;
}


.percent-level{
  
  animation: wd 3s 2s ;
}

.services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.service-para{
  font-size: 20px;
  color: #a3a7ab;
  padding: ;
}
.services .service-card{
  background-color: #000000;
  width: 350px;
  min-height: 380px;
  padding: 20px;
  margin-left: 2rem;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 0 0 20px #444547;
  transition: all 1s ease-out;
}

.services .service-card:hover{
  border: 2px solid #ad5b2c;
  background: #14171b;
  
}

.services .service-card h2{
  font: 30px;
  line-height: 40px;
  color: #20c997;
}

.services .service-card .fa{
  background-color: #1baa80;
  color: white;
  padding: 30px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 10px solid #fff;
  transition: all 1s ease;

  

}

.services .service-card .fa:hover{
  background-color: #fff;
  color: #1baa80;
  border: 10px solid #1baa80 ;
  transition: linear 10sec;

  
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    color: #212529;
  
    background-size: cover;
    font-size: 20px;
    

}
.contact-main-heading{
  color: white;
  font-size: 40px;
  margin-left: 15px;
}
.contact-heading{
  color: #eaf7f3;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
}

.contact-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px #444547;
  background-color: #000000;
  border-radius: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.contact-info-list .fa{
  
  color: #1baa80;
  font-size: 30px;
}
.contact-name{
  flex: 0 0 50%;
 
}
.query-info{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 15px;
  transition: all 1s ease;
}

.form-details{
  width: 100%;
  background-color: #444547;
  box-shadow: 0 0 20px #444547;
  height: 50px;
  border-radius: 10px;
}
.form-textarea{
  height: 160px;
  background-color: #444547;
}
.form-heading{
  color: #20c997;
  font-size: 25px;
  margin-top: 20px;

}
::placeholder{
  color: #616161;
  
  padding: 10px;
}
.send-msg{
  width: 200px;
  height: 55px;
  border: 2px solid #626865;
  margin-left: 16px;
  padding: 8px;
  border-radius: 23px;
  background-color: #20c997;
  color: white;
  box-shadow: 0 0 20px #1e2e4e;
  font-size: 22px;
  
}
.send-msg:hover{
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

#summary {
    padding: 72px 0;
    margin: auto;
  }
  
  .summary__Container {
    min-width: 1150px;
    width: 100%;
    padding: 0 12px;
    color: white;
    right: 0;
    margin-top: 40px;
    
  }
  
  .resume__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .resume__container1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .resume__container2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .resume__column,
  .skills__column {
    padding: 0 24px;
  }
  
  .skills__column {
    width: calc(100% / 2);
  }
  
  .resume__title {
    color: #ccd7e7;
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 30px;
  }
  
  .resume__card {
    border-radius: 4px;
    border: 1px solid #505355;
    background-color: #0e1013;
    padding: 24px;
    margin-bottom: 24px;
    position: relative;
    padding: 20px;
    box-shadow:  0 0 29px 0 rgba(130, 152, 213, 0.2);
  }
 .resume__card::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    background: #18d26e;
    
    display: block;
    border: 1px solid #18d26e;
    
  }
.circle-dot{
    position: absolute;
    left: -5px;
    top: -8px;
    width: 16px;
    height: 16px;
    background-color: #17eaaa;
    border-radius: 50px;
}
.card__year {
    background-color: #11e5a5;
    color: #222;
    padding: 4.9px 9.1px;
    margin-bottom: 16px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
  }
  .card__desc{
    font-size: 15px;
    line-height: 30px;
  }
  .card__title {
    color: #dce1e8;
    font-size: 21px;
    margin-bottom: 8px;
  }
  
  .card__subtitle {
    color:  #dc3545;
    font-size: 16px;
    margin-bottom: 16px;
  }
.course-style{
  color: #57957c;
  font-size: 18px;
  font-weight: 500;

}
  
  
  @keyframes wd {
    0% {
      width: 0;
    }
    100% {
      width: 65%;
    }
  }
  
  .progressValue__htmlCSS {
    animation: htmlCSS 3s 2s normal forwards;
  }
  
  @keyframes htmlCSS {
    0% {
      width: 0;
    }
    100% {
      width: 95%;
    }
  }
  
  .progressValue__js {
    animation: js 3s 2s normal forwards;
  }
  
  @keyframes js {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  
  .progressValue__react {
    animation: react 3s 2s normal forwards;
  }
  
  @keyframes react {
    0% {
      width: 0;
    }
    100% {
      width: 70%;
    }
  }
  
  .progressValue__angular {
    animation: angular 3s 2s normal forwards;
  }
  
  @keyframes angular {
    0% {
      width: 0;
    }
    100% {
      width: 60%;
    }
  }
  
  .progressValue__bootstrap {
    animation: boot 3s 2s normal forwards;
  }
  
  @keyframes boot {
    0% {
      width: 0;
    }
    100% {
      width: 99%;
    }
  }
  
  .button__container {
    width: 220px;
    margin: auto;
  }
  
  .button__container a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .summary__button {
    text-decoration: none;
    margin-top: 48px;
    cursor: pointer;
    color: #6c6c6c;
    background-color: #fff;
    border: 2px solid #6c757d;
    padding: 12.8px 41.6px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 800px;
    transition: 1s ease;
  }
  
  .summary__button:hover {
    background-color: #6c6c6c;
    color: #fff;
  }
  



.icon-box {
    padding: 20px 15px;
    position: relative;
    overflow: hidden;
    background: #000000;
    box-shadow: 0 0 20px #343537;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    text-align: center;
    z-index: 1;
    width: 350px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 20px;
   
  }
  
.icon-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: ease-in-out 0.3s;
    z-index: -1;
  }
  
.icon-box:hover::before {
    background: #305049;
   height: 100%;
    border-radius: 0px;
    color: #444547;
   
  }
  
.icon {
    margin: 0 auto 30px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #20c997;
    transition: all 0.3s ease-in-out;
  }
 
  
.icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
  }
  
  
.title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
.title a {
    color: #111;
  }
  
.description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0;
  
  }

.project-btn{
  width: 150px;
  height: 40px;
 font-weight: 400;
  background-color: #1e8c6b;
  border: 2px solid #203051;
  color: #fff;
  border-radius: 12px;
  margin-top: 15px;
  
}
.project-btn:hover{
  background-color: #fff;
  color: #222;
  letter-spacing: 2px;
  font-weight: 500;
}
.project-btn:hover::before{
  background-color: white;
  color: black;
}
.project-btn2{
  width: 150px;
  height: 40px;
 font-weight: 400;
 font-size: 20px;
  background-color: #1e8c6b;
  border: 2px solid #203051;
  color: #fff;
  border-radius: 12px;
  
}
.project-btn2:hover{
  background-color: #fff;
  color: #222;
  letter-spacing: 2px;
  font-weight: 500;
}


/*Footer cotainer */
.footer__container {
 
  padding: 66px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
 background-color: #000000;
}

.footer__desc,
.footer__list {
  padding: 0 12px;
}

.footer__list {
  list-style-type: none;
  display: flex;
}

.footer__linkItem a {
  padding: 8px 16px 8px 0px;
  cursor: pointer;
  border-right: 1px solid #eaeaea;
  transition: 0.3s ease-in;
}

.footer__linkItem a:hover {
  color: var(--button__color);
}

.footer__linkItem:last-child a {
  border: unset;
  padding: 8px 0 8px 16px;
}

.footer__link {
  color: var(--button__color);
  text-decoration: none;
  transition: 0.3s ease-in;
}

.footer__link:hover {
  color: var(--hoverButton__color);
}
